html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  background-color: $base-background-color-light;
  color: $base-text-color-dark;
}

body {
  margin: 0;
}
