html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: Monaco;
  background-color: $base-background-color-dark;
  color: $base-text-color-light;
}

body {
  margin: 0;
}
