// TODO: Most of these are probably unnecessary
// TODO: The names are bad too. Calling it visible when it's display and there's a property called visibility? That's just bad.

.u-is-hidden {
  display: none;
}
.u-is-visibleblock {
  display: block;
}
.u-is-visibleinline {
  display: inline;
}
.u-is-visibleinlineblock {
  display: inline-block;
}
.u-is-visibleflex {
  display: flex;
}

@include mq($from: xs) {
  .u-is-hidden\@xs {
    display: none;
  }
  .u-is-visibleblock\@xs {
    display: block;
  }
  .u-is-visibleinline\@xs {
    display: inline;
  }
  .u-is-visibleinlineblock\@xs {
    display: inline-block;
  }
  .u-is-visibleflex\@xs {
    display: flex;
  }
}

@include mq($from: sm) {
  .u-is-hidden\@sm {
    display: none;
  }
  .u-is-visibleblock\@sm {
    display: block;
  }
  .u-is-visibleinline\@sm {
    display: inline;
  }
  .u-is-visibleinlineblock\@sm {
    display: inline-block;
  }
  .u-is-visibleflex\@sm {
    display: flex;
  }
}

@include mq($from: md) {
  .u-is-hidden\@md {
    display: none;
  }
  .u-is-visibleblock\@md {
    display: block;
  }
  .u-is-visibleinline\@md {
    display: inline;
  }
  .u-is-visibleinlineblock\@md {
    display: inline-block;
  }
  .u-is-visibleflex\@md {
    display: flex;
  }
}

@include mq($from: lg) {
  .u-is-hidden\@lg {
    display: none;
  }
  .u-is-visibleblock\@lg {
    display: block;
  }
  .u-is-visibleinline\@lg {
    display: inline;
  }
  .u-is-visibleinlineblock\@lg {
    display: inline-block;
  }
  .u-is-visibleflex\@lg {
    display: flex;
  }
}
@include mq($from: xl) {
  .u-is-hidden\@xl {
    display: none;
  }
  .u-is-visibleblock\@xl {
    display: block;
  }
  .u-is-visibleinline\@xl {
    display: inline;
  }
  .u-is-visibleinlineblock\@xl {
    display: inline-block;
  }
  .u-is-visibleflex\@xl {
    display: flex;
  }
}
