/* SETTINGS */

@import "settings.variables";

/* TOOLS */

// tools.functions
// tools.mixins

// TODO: These values are completely made up
$mq-breakpoints: (
  xs: 320px,
  sm: 420px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);
@import "~sass-mq/mq";

/* GENERIC */
@import "generic.normalize";
@import "generic.box-sizing";

/* ELEMENTS */

@import "elements.html";
@import "elements.headings";
@import "elements.links";
@import "elements.paragraphs";
@import "elements.lists";
// elements.images

/* OBJECTS */

// objects.layout

/* COMPONENTS */

// components.header
// components.footer
// components.content
// components.navigation
// components.images

/* UTILITIES */

// @import "utilities.responsive";
// @import "utilities.helpers";
// @import "utilities.widths";

/* OVERRIDES */

// !important stuff goes here
