// TODO: Should Settings + Tools + Generic be combined into one layer? What should it be called? What about the fact that the order of items within each layer is not supposed to matter?

/* SETTINGS */

@import "settings.variables";

/* TOOLS */

// tools.functions
// tools.mixins

// TODO: These values are completely made up
$mq-breakpoints: (
  xs: 320px,
  sm: 420px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);
@import "~sass-mq/mq";

/* GENERIC */
// TODO: Configure base stuff in Normalize
@import "generic.normalize";
@import "generic.box-sizing";
// generic.fonts

/* ELEMENTS */

@import "elements.html";
@import "elements.headings";
@import "elements.links";
@import "elements.paragraphs";
@import "elements.lists";
// @import "elements.images";

/* OBJECTS */

// @import "objects.layout";

/* COMPONENTS */

@import "components.header";
@import "components.button";
// @import "components.footer";
// @import "components.content";
// @import "components.navigation";
// @import "components.images";

/* UTILITIES */

// @import "utilities.responsive";
// @import "utilities.helpers";
// @import "utilities.widths";

/* OVERRIDES */

// !important stuff goes here
